*{
	margin: 0;
	font-family: 'Nunito', sans-serif;
	/*border: 1px solid red;*/
	/*padding: 0;*/
}

#searchbutton:disabled{
	background-color: grey;
}

#myBtn:disabled {
	background-color: grey;
}

.ratesize {
	letter-spacing: 2px;
}

.transaction {
	font-size: 20px;
}

.success {
	font-size: 20px;
}

.check-image {
	width: 50px;
	height: 50px;
	padding-right: 20px;
}

.ratinginreview {
	font-size: 25px;
	color: #262626;
}

.tablereview {
	width: 95%;
}

.rowreview {
	vertical-align: top;
}

.columnreview {
	padding-right: 20px;
}

.columnreview2 {
	line-height: 30px;
	padding-right: 20px;
	width:90%;
}

.profpicreview {
	margin-left: 8px;
}

.ratingreview {
	width: 25%;
}

.orderbox {
	margin-left: 40px;
	margin-bottom: 100px;
}

.reviewbox {
	margin-left: 40px;
	margin-bottom: 100px;
}

.reviewtext {
	margin-bottom: 10px;
	color: #3b3b3b;
}

.reviewsize {
	font-size: 40px;
}

.jumlah {
	font-size: 18px;
	color: #515151;
}

.ordertext {
	margin-bottom: 10px;
	color: #3b3b3b;
}

.row {
	vertical-align: top;
}

.cell-detail {
	width: 90%;
	padding-right: 20px;
}

.bookid {
	display: none;
}

.rating-size {
	font-size: 23px;
}

.search-result {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 60px;
	margin-bottom: 100px;
}

.book-det {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 29vh;
	margin-bottom: 30px;
}

.not-found {
	font-size: 25px;
	font-weight: bold;
	color: #676767;
}

.search-book {
	color: #FF6029;
	font-size: 70px;
	margin-top: 28vh;
	margin-left: 40px;
}

.searchbox {
	width: 90%;
	height: 40px;
	margin-left: 40px;
	font-size: 20px;
	border: 2px solid gray;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	outline: none;
}

.forbutton {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	padding-top: 40px;
	padding-right: 60px;
}

.search-button {
	background-color: #00AAEF;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}

.result-count {
	margin-top: -40px;
	margin-right: 40px;
	font-size: 25px;
	color: #262626;
	display: flex;
	justify-content: flex-end;
}

.book-pict {
	width: 140px;
	height: auto;
}

.judul {
	color: #FF6029;
	font-size: 35px;
}

.judul-desc {
	color: #FF6029;
	font-size: 50px;
}

.book-desc {
	color: #676767;
	font-size: 20px;
}

.detail-button {
	background-color: #00AAEF;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	display: flex;
	position: absolute;
	right: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	z-index: 0;
}

.order-button {
	background-color: #00AAEF;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	display: flex;
	position: absolute;
	right: 60px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
}

.prof-pict {
	display: flex;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.uname {
	color: #515151;
	font-size: 25px;
}

.review-desc {
	font-size: 20px;
}

.icon {
	width: 28px;
	height: 28px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.icon2 {
	width: 50px;
	height: 50px;
	padding-bottom: 5px;
}

table.detail-book tr td{
	padding-bottom: 50px;
	vertical-align: top;
}

table.review tr td {
	padding-bottom: 20px;
}

select {

  background-color: white;
  border: thin solid #262626;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.1em 3.1em 0.1em 0.6em;
  text-align: center;

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, #bdbdbd, #bdbdbd);
  background-position:
    calc(100% - 17px) calc(0.6em + 2px),
    calc(100% - 12px) calc(0.6em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.2em 2.2em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, #bdbdbd, #bdbdbd);
  background-position:
    calc(100% - 17px) calc(0.6em + 2px),
    calc(100% - 12px) calc(0.6em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.2em 2.2em;
  background-repeat: no-repeat;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 35vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.cell {
	padding-right: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #676767;
    float: right;
    font-size: 50px;
    margin-top: -40px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}